*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #DEF2F1;
    --clr-dark: #17252A;
    --clr-accent: #65f0e9;
}

img {
    display: block;
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.button-mobile {
    display: flex;
    margin: 20px auto;
    padding: .5em 2.5em;
    border-radius: 3px;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 200ms ease-in-out;
}

.button-mobile:hover {
    transform: scale(1.1);
}
.button-mobile a{
    text-decoration: none;
    color: black;
}

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h4);
}

@media (min-width: 700px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}
